<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> 50a9e018674528605712435e8f1ac12df6cd72b3
=======
>>>>>>> 0f99e000c8b11dbe1f105ac563ad7f180ceeb650
// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$enable-gradients:true;
$enable-responsive-font-sizes:true;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;