@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";
.h-screen {
    height: 100vh;
}

.navbar1 li a {
    color: #040726;
}

.menu {
    border-radius: 12px;
    transition-duration: 0.2s;
}

.menu:hover {
    background-color: #024332;
    color: white;
}

.registro {
    border-radius: 12px;
    color: #024332;
    -webkit-transition: all 0.5s;
}

.registro:hover {
    background-color: #F57C05;
    color: #040726;
}

.huella {
    -webkit-transition: all 0.5s;
}

.registro:hover .huella {
    -webkit-filter: invert(100%);
}

.login {
    border-radius: 12px;
    color: #ca2323;
    -webkit-transition: all 0.5s;
}

.login:hover {
    background-color: #070D4F;
    color: #F57C05;
}

.login:hover .huella {
    -webkit-filter: invert(100%);
}

#boton_eliminar {
    background: #f31f1f;
    color: white;
}

.tablaCitas {
    font-size: 15px;
}

.table {
    margin: auto;
    align: center;
}

.btn-primary {
    background: #3f48cc;
}

.btn-primary:hover {
    background: #1a1f6e;
}

.btn-danger:hover {
    background: white;
}

.btnCrear {
    background: #ff5103;
    border-color: #040726;
    color: white;
}

.btn-warning {
    background: #ff5103;
    border-color: #0a015f;
    color: white;
}

.btn-default:hover {
    background: #30399a;
    color: #ff8635;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    /* color: #114148; */
    color: #0a015f;
}

h5 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    /* color: #114148; */
    color: #0a015f;
}

.navbar-light .navbar-brand {
    color: #0a015f;
    text-align: center;
}

a {
    color: #111948;
}

.cardtitle {
    font-size: 1.8rem;
}

h4 {
    color: #0a015f;
    font-weight: bold;
}

body {
    margin: 0px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

thead {
    /* background: rgb(233, 236, 239);
    color: rgb(11, 35, 63); */
    text-shadow: 0.5px 0.5px 0.5px black;
    background: rgb(35, 83, 138);
    color: rgb(233, 236, 239);
}

.responsive {
    width: 100%;
    height: auto;
}

.navuser {
    border-radius: 12px;
    color: #140071;
    -webkit-transition: all 0.5s;
    border-color: #070D4F;
    //border-style: solid;
    border-width: 1px;
    margin: 2px;
}

.navuser1 {
    border-radius: 12px;
    -webkit-transition: all 0.5s;
    border-color: #070D4F;
    //border-style: solid;
    border-width: 1px;
    margin: 2px;
    background-color: #242997;
    color: #ffc800;
}

.navuser:hover {
    background-color: #242997;
    color: #ffc800;
}

.navuser:hover .huella {
    -webkit-filter: invert(100%);
}

.bienvenida {
    background-color: #1a1f6e;
    color: #ffc800;
    border-radius: 12px;
}

.login1 {
    border-radius: 12px;
    color: red;
    -webkit-transition: all 0.5s;
}

.login1:hover {
    background-color: #070D4F;
    color: #ca2323;
}

.login1:hover .huella {
    -webkit-filter: invert(100%);
}

.hist {
    max-width: 500px;
}

.btnDT {
    background: #e6e7e9;
    border-color: #040726;
    color: #040726;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.fuenteprocedi{
    font-size: small;
}