@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";
.h-screen {
    height: 100vh;
}

.navbar1 li a {
    color: #040726;
}

.menu {
    border-radius: 12px;
    transition-duration: 0.2s;
}

.menu:hover {
    background-color: #024332;
    color: white;
}

.registro {
    border-radius: 12px;
    color: #024332;
    -webkit-transition: all 0.5s;
}

.registro:hover {
    background-color: #F57C05;
    color: #040726;
}

.huella {
    -webkit-transition: all 0.5s;
}

.registro:hover .huella {
    -webkit-filter: invert(100%);
}

.login {
    border-radius: 12px;
    color: #F50808;
    -webkit-transition: all 0.5s;
}

.login:hover {
    background-color: #070D4F;
    color: #F57C05;
}

.login:hover .huella {
    -webkit-filter: invert(100%);
}